<div class="section">
  <div class="container has-text-centered">
    <h1>{{username}}</h1>
    <div class="columns is-centered">
      <div class="column">
        <canvas id="inspectChart"></canvas>
      </div>
    </div>
    <div class="columns is-centered has-text-centered">
      <div class="column">
        <a class="button is-primary" routerLink="maintainability">Maintainability</a>
        <br>
        <progress class="progress is-primary" value="{{stats['maintainability']}}" max="100">15%</progress>
      </div>
      <div class="column">
        <a class="button is-primary" routerLink="general">General Stats</a>
        <br>
        <progress class="progress is-primary" value="{{stats['general_statistics']}}" max="100">15%</progress>
      </div>
      <div class="column">
        <a class="button is-primary">Expertise</a>
        <br>
        <progress class="progress is-primary" value="{{stats['flexibility_to_learn']}}" max="100">15%</progress>
      </div>
      <div class="column">
        <a class="button is-primary" routerLink="debug">Testing & debugging</a>
        <br>
        <progress class="progress is-primary" value="{{stats['debugging']}}" max="100">15%</progress>
      </div>
    </div>
  </div>
</div>
