<div class="section">
  <div class="container has-text-centered">
    <h1>{{username}}</h1>
    <div class="columns is-centered">
      <div class="column">
        <canvas id="inspectChart"></canvas>
      </div>
    </div>
    <div class="columns is-centered has-text-centered">
      <div class="column">
        <a class="button is-primary">Maintainability</a>
      </div>
      <div class="column">
        <a class="button is-primary">General Stats</a>
      </div>
      <div class="column">
        <a class="button is-primary">Flexibility to learn</a>
      </div>
      <div class="column">
        <a class="button is-primary">Testing & debugging</a>
      </div>
    </div>
  </div>
</div>
